<% if @post.errors.any? %>
  <div id="errors">
    <h4 class="alert-danger"><%= pluralize(@post.errors.count, "error") %> prohibited this task from being saved:</h4>

    <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>